.debug {
  border: 1px solid red;
}

body {
  background-color: rgb(226, 226, 226);
}

.title {
  text-align: center;
  padding: 30px 300px;
  line-height: 35px;
}

#card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  padding: 30px 100px;
}

.card {
  min-height: 200px;
  width: calc(100% / 3 - 40px);
  text-align: center;
  padding-bottom: 20px;
  background-color: white;
}

.card img {
  max-width: 100%;
}
